@{
    ViewData["Title"] = "Change Course Load";
    Layout = "";
}
<html>
    <head>

    </head>
    <body>
        <center>@Model.stud_id</center>
        <table>
            <tr>
                <th>Grade ID</th>
                <th>Student ID</th>
                <th>Course ID</th>
                <th>Term ID</th>
                <th>Grade Value</th>
            </tr>
        </table>
    </body>
</html>