@{
	ViewData["Title"] = "Add Student";

}
<html>
<head>

</head>
<body>
	<h1>Admin Dashboard -> Add Student</h1>
	<form asp-controller="Admin" asp-action="AllStudentView" method="post">
		<button type="submit" name="btnBack">Back</button>
	</form>
	<h2>@Model.message</h2>

	<form asp-controller="Admin" asp-action="StudentAdd" method="post">

		Student ID: <input type="text" name="txtStudID" required />

		<br>

		<br />

		Name: <input type="text" name="txtName" required />

		<br>

		<br />

		Age: <input type="text" name="txtAge" required />

		<br>

		<br />

		Year Level: <input type="text" name="txtYearLevel" required />

		<br>

		<br />

		Course: <input type="text" name="txtCourse" required />

		<br>

		<br />

		Units Passed: <input type="text" name="txtUnitsPassed" required />

		<br>

		<br />

		Units Left: <input type="text" name="txtUnitsLeft" required />

		<br>

		<br />

		<button type="submit" name="btnSubmit">Add Course</button>
	</form>
</body>
</html>